---
// components imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="Description of about page">
	<h1>Hi there from about page</h1>
</MainLayout>
