---
// components imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="Description of about page">
	<h1>Hi there from <span>About page</span></h1>
</MainLayout>

